# Arquivos locais do Terraform
.terraform/
.terraform.lock.hcl

# Variáveis sensíveis
*.tfvars
*.auto.tfvars
terraform.tfstate
terraform.tfstate.*
crash.log

# Backups e planos
*.backup
*.tfplan

# Arquivos de log e saída
.out

# Arquivos do sistema
.DS_Store
Thumbs.db
credentials.pkr.hcl
downloaded_iso_path/
